.pageContainer {
  display: flex;
  height: 100%;
}

/* navbar */

.openSidebarIcon,
.closeSidebarIcon {
  display: none;
}

.navbar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  background-color: var(--standard-background-color);
}

.navbar,
.navbar ul {
  height: 100%;
}

.navbar ul {
  display: flex;
  flex-direction: column;
}

.navbar ul > *:not(.logoLi) {
  display: none;
}

.navbar a {
  color: #000;
  text-decoration: none;
}

.logoLi {
  /* header for mobile */
  height: 3.5rem;
  background-color: var(--standard-background-color);
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  padding: 0 0.5rem 0 0.75rem;

  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}

.logoLink {
  display: flex;
  align-items: center;
}

.sidebarButton {
  border: none;
  border-radius: var(--standard-border-radius);
  padding: 0.1rem 0.25rem;
}

.sidebarIcon {
  position: relative;
  font-size: 2rem;
}

.logoLink span {
  font-size: 1.5rem;
  font-weight: 600;
  margin-left: 0.5rem;
}

/* show navbar when dropdown is clicked */

.navbar.showSidebar {
  background-color: var(--standard-background-color);
}

.navbar.showSidebar ul > *:not(.logoLi) {
  display: block;
}

.navbar.showSidebar .profileLi {
  display: flex !important;
}

/* home/messages li */

.messagesParentLi {
  flex: 1 1 auto;
}

.homeLink,
.messagesUl a {
  display: flex;
  align-items: center;
  padding: 0.5rem;
}

.homeLink,
.messagesUl a {
  display: flex;
  align-items: center;
  padding: 0.5rem;
  border-radius: var(--standard-border-radius);
}

.messagesUl {
  padding: 0.5rem;
}

.messagesUl li p {
  margin: 0;
}

.homeLink .homeIcon {
  font-size: 2rem;
  margin-right: 0.75rem;
}

.profilePicture {
  border-radius: 50%;
  margin-right: 0.75rem;
}

.emptyChatsPara {
  margin: 1rem 0 !important;
  padding-left: 0.75rem;
}

.createButton {
  display: flex;
  align-items: center;
  font-size: 1rem;
  border: none;
  border-radius: var(--standard-border-radius);
  width: 100%;
  padding: 0.25rem;
  background-color: transparent;
}

.createButton:hover,
.dropdownButton:hover,
.sidebarButton:hover,
.messagesUl a:hover {
  background-color: #e6e6e6;
}

.createButton:active,
.dropdownButton:active,
.sidebarButton:active,
.messagesUl a:active {
  background-color: #e9e9e9;
}

.createButton .createIcon {
  font-size: 2rem;
  margin-right: 0.75rem;
}

/* profile li */

.profileLi {
  display: flex;
  align-items: center;
  font-weight: 500;
  border-top: 1px solid #c4c4c4;
  padding: 1rem 0.5rem;
}

.profileLi img {
  padding-left: 0.5rem;
}

.profileLi p {
  margin-right: auto;
  font-weight: 500;
}

.navbar.showSidebar .profileLi img {
  width: calc(40px + 0.5rem);
}

.dropdownButton {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1rem;
  border: none;
  border-radius: var(--standard-border-radius);
  width: 100%;
  padding-right: 0.5rem;
  background-color: transparent;
}

.dropdownIcon {
  position: relative;
  top: 0.1rem;
}

/* main content */

.mainContent {
  flex: 1;
  border-radius: 10px;
  background-color: #fff;
  width: 100%;
  margin-left: 0;
}

@media (min-width: 500px) {
  /* sidebar closed */

  .navbar.hideSidebar {
    width: 5rem;
    padding: 0.5rem 0.75rem;
  }

  .navbar.hideSidebar span,
  .navbar.hideSidebar img {
    margin: 0;
    padding: 0;
  }

  .navbar.hideSidebar li {
    display: flex;
    justify-content: center;
  }

  .navbar.hideSidebar .homeLink,
  .navbar.hideSidebar button:not(.sidebarButton),
  .navbar.hideSidebar a,
  .navbar.hideSidebar .createButton {
    width: 100%;
    margin: 0;
    height: 3.25rem;
  }

  .navbar.hideSidebar a {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .navbar.hideSidebar button {
    display: block;
    width: 2rem;
  }

  .navbar.hideSidebar .messagesUl {
    width: 100%;
  }

  .navbar.hideSidebar .sidebarButton {
    position: absolute;
    left: 3.4rem;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  }

  .navbar.hideSidebar .profileLi {
    padding: 1rem 0;
  }

  .navbar.hideSidebar .sidebarText {
    display: none;
  }

  .navbar.hideSidebar .createIcon {
    margin: 0;
  }

  /* sidebar open */

  .navbar.showSidebar {
    position: absolute;
    padding-top: 1rem;
  }

  .navbar.showSidebar + .mainContent {
    /* closed sidebar width + original margin left */
    /* gives an overlay while still keeping main content in same spot */
    margin-left: calc(5rem + 1.25rem);
  }

  .navbar.showSidebar .openSidebarIcon {
    display: none;
  }

  .navbar.showSidebar .sidebarButton {
    position: relative;
    left: 0;
  }

  .navbar.showSidebar .closeSidebarIcon {
    position: relative;
    top: 0.05rem;
    left: 0.25rem;
    display: block;
    font-size: 1.5rem;
  }

  /* default styling */

  .menuIcon {
    display: none;
  }

  .navbar {
    position: relative;
    width: 300px;
    padding: 0.5rem 1rem 0 1rem;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  }

  .navbar ul > *:not(.logoLi) {
    display: flex;
  }

  .logoLi {
    position: relative;
    width: 100%;
    height: auto;
    box-shadow: none;
    padding: 0;
    margin-bottom: 2.5rem;
  }

  .sidebarButton {
    position: relative;
    left: 1rem;

    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    padding: 0rem;
  }

  .openSidebarIcon {
    position: relative;
    top: 0.1rem;
    left: 0.1rem;
    font-size: 1.5rem;
    display: block;
  }

  .messagesUl {
    padding: 0;
  }

  .createButton {
    padding: 0.5rem;
  }

  .profileLi {
    padding: 1rem 0;
  }

  .dropdownButton {
    padding: 0 0.5rem 0 0;
  }

  .mainContent {
    margin: 1.25rem;
  }
}

@media (min-width: 1000px) {
  .navbar.showSidebar {
    position: static;
    padding-top: 1rem;
  }

  .navbar.showSidebar + .mainContent {
    /* closed sidebar width + original margin left */
    /* gives an overlay while still keeping main content in same spot */
    margin-left: 1.25rem;
  }
}

/* 
  After, I will need to work on 
  Now the real question is how do I make the media queries look good?
*/
