.pageContainer {
  display: flex;
  height: 100%;
}

/* navbar */

.navbar {
  width: 0px;
}

.navbar,
.navbar ul {
  height: 100%;
}

.navbar ul {
  display: flex;
  flex-direction: column;
}

.navbar ul > *:not(.logoLi) {
  display: none;
}

.navbar a {
  color: #000;
  text-decoration: none;
}

.logoLi {
  /* header for mobile */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 3.5rem;
  background-color: #e6e8ec;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  padding: 0 0.5rem 0 0.75rem;

  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2.5rem;
}

.logoLink {
  display: flex;
  align-items: center;
}

.logoButton {
  border: none;
  border-radius: var(--standard-border-radius);
  padding: 0.1rem 0.25rem;
}

.logoIcon {
  position: relative;
  font-size: 2rem;
}

.logoLink span {
  font-size: 1.5rem;
  font-weight: 600;
  margin-left: 0.5rem;
}

/* home/messages li */

.messagesParentLi {
  flex: 1 1 auto;
}

.homeLink,
.messagesUl a {
  display: flex;
  align-items: center;
  padding: 0.5rem;
}

.messagesUl li p {
  margin: 0;
}

.homeLink .homeIcon {
  font-size: 2rem;
  margin-right: 0.75rem;
}

.profilePicture {
  border-radius: 50%;
  margin-right: 0.75rem;
}

.emptyChatsPara {
  margin: 1rem 0 !important;
  padding-left: 0.75rem;
}

.createButton {
  display: flex;
  align-items: center;
  font-size: 1rem;
  border: none;
  border-radius: var(--standard-border-radius);
  width: 100%;
  padding: 0.25rem;
}

.createButton:hover,
.dropdownButton:hover,
.logoButton:hover {
  background-color: #d5d5d5;
}

.createButton:active,
.dropdownButton:active,
.logoButton:active {
  background-color: #d9d9d9;
}

.createButton .createIcon {
  font-size: 2rem;
  margin-right: 0.75rem;
}

/* profile li */

.profileLi {
  display: flex;
  align-items: center;
  font-weight: 500;
  border-top: 1px solid #c4c4c4;
  padding: 1rem;
}

.profileLi p {
  margin-right: auto;
}

.dropdownButton {
  border: none;
  border-radius: 50%;
  width: 1.75rem;
  height: 1.75rem;
  padding: 0;
}

.dropdownIcon {
  position: relative;
  top: 0.1rem;
}

/* main content */

.mainContent {
  flex: 1;
  border-radius: 10px;
  background-color: #fff;
  width: 100%;
  margin-left: 0;
}

@media (min-width: 500px) {
  .navbar {
    width: 300px;
  }

  .navbar ul > *:not(.logoLi) {
    display: flex;
  }

  .logoLi {
    position: static;
    width: 100%;
    height: auto;
    box-shadow: none;
    padding: 0;
  }

  .homeLink,
  .messagesUl a {
    display: flex;
    align-items: center;
    padding: 0.75rem;
  }

  .createButton {
    padding: 0.5rem;
  }

  .mainContent {
    margin-left: 1.25rem;
  }
}

/* 
  But first... I have to work the homepage first!
  Now the real question is how do I make the media queries look good?
*/
